<a href="https://colab.research.google.com/github/Chelsea-Magleo/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Python Indentionn

In [2]:
if 5>2:
  print("Yes")

Yes

Python Comments

In [3]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable

In [5]:
x = "Sally"
a = 0
a,b,c = 0,1,2
print(x)
print(a)
print(b)
print(c)
print(a,b,c)

Sally
0
1
2
0 1 2

Casting

In [6]:
d = 4
d = int(4)
print(d)

4

Type () Function

In [7]:
d = 4
d = int(4)
print(type(d))

<class 'int'>

"Double qoutes" and 'single quote'

In [8]:
y = "Ana"
print(y)

Ana

In [14]:
#y = "Ana"
#print(y)

y = 'Ana'
Y = "Robert"
print(y)
print(Y)

Ana
Robert

Multiple Variables with one value

In [16]:
k = l = m = "four"
print(k,l,m)
print(k)
print(l)
print(m)

four four four
four
four
four

Output Variable

In [17]:
print('Pythong programming is enjoying')

Pythong programming is enjoying

In [24]:
h = "enjoying"
p = "Pthon programming is "
print("Pythong programming is " +h)
print(p+h)

Pythong programming is enjoying
Pthon programming is enjoying

Arithmetic operations

In [33]:
print(c+d) #c = 2, d = 4
print(d-c)
print(d*c)
print(d/c)
print(int(d/c))
print(3//2) #1.50
print(d%c)
print(d**c)

6
2
8
2.0
2
1
0
16

Assignment operators

In [35]:
q = 10
q+=5 #same as q = q + 5

print(q) #same as  q = q + 5, q = 10 + 5 = 15

15

Boolean Logic

In [37]:
s = 10
print(s^2) #binary
print(s|2) #x or

8
10

Comparison operators

In [40]:
print(s>q)
print(s==s)
print(q==q)

False
True
True

Logical Operators

In [43]:
s>q and (s==s) #false
s>q or (s==s) #true

True

In [44]:
s>q and (s==s) #false
s>q or (s==s) #true

print(s>q and s==s)
print(s>q or s==s)

False
True

Identity operators

In [46]:
s is q
print(s is not q)

True

In [48]:
s is q

False

Bitwise operators Shift right

In [47]:
b = 10 #1010 in binary
print(b>>1)

5

In [54]:
b = 10 #1010 in binary
print(b<<1)

20

In [58]:
u=1 #0001
print(u<<1)

g = 10
print(g<<1)

2
20