<a href="https://colab.research.google.com/github/Chelsea-Magleo/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [6]:
a = 7
b = 6

print(10>9)
print(10<9)
print(a>b)

True
False
True

bool() function

In [14]:
print(bool("Chelsea"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a Boolean

In [30]:
def my_Function():
  return False

print(my_Function())

False

In [26]:
if my_Function():
  print("True")
else:
  print("False")

False

Application 1

In [31]:
print(10>9)

g=6
f=7
print(g==f)
print(g!=f)

True
False
True

In [32]:
print(a==b)
print(a!=b)

False
True

Python Operators

In [37]:
print(10+5)
print(10-5)
print(int(10/5))
print(10*5)
print(10%5)
print(10//3)  #10/3 = 3.33333
print(10**2)  #power

15
5
2
50
0
3
100

Bitwise Operators

In [45]:
c = 60  #binary 0011 1100
d = 13  #binary 0000 1101

print(c&d)
print(c|d)
print(c^d)

print(d<<2)

12
61
49
52

Logical Operators

In [49]:
h = True
l = False
h and l
h or l
not(h or l)

False

Application 2

In [63]:
#Python Assignment Operators
x = 8

x += 3
print(x)
x -= 3
print(x)
x *= 3
print(x)
x /= 3
print(x)
x %= 3
print(x)

11
8
24
8.0
2.0

In [64]:
#Python Assignment Operators
x = 100
x+=3 #Same as x = x +3, x = 100 + 3 = 103
print(x)

103

Identity Operator

In [66]:
h is l
h is not l

True

#Control Structure

If statement

In [73]:
if a>b:
  print("a is greater than b")

a is greater than b

Eif Statement

In [75]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

Else Statement

In [82]:
a = 10
b = 10

if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand If Statement

In [83]:
if a==b: print("a is equal to b")

a is equal to b

Short Hand If... Else Statement

In [90]:
a = 10
b = 9

print("a is greater than b") if a>b else print("b is greater than a")

a is greater than b

And-both Conditions are true

In [94]:
if a>b and b==b:
  print("Both conditions are TRUE")

Both conditions are TRUE

Or

In [95]:
if a>b or b==b:
  print("the condition is TRUE")

the condition is TRUE

Nested If

In [108]:
x = int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
      else:
        print("but not above 40")
        if x>50:
          print("and also above 50")
        else:
            print("but not above 50")

48
x is above 10
and also above 20
and also above 30
and also above 40

#LOOP Statement

For Loop

In [112]:
week = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

for x in week:
  print(x)

Sun
Mon
Tue
Wed
Thu
Fri
Sat

The break statemnet

In [122]:
#to display Sunday to Wednesday

for x in week:
  print(x)
  if x=="Wed":
    break

Sun
Mon
Tue
Wed
Wed

In [123]:
#to display only Wednesday using break statement

for x in week:
  if x=="Wed":
    break
print(x)

Wed

While Statement

In [125]:
i = 1
while i<6:
  print(i)
  i+=1 #same as i = i + 1

1
2
3
4
5

Application 3 - Create a python program that displays no. 3 using break statement

In [132]:
i = 1
while i<6:
  print(i)
  i+=1 #same as i = i + 1
  if i==3:
    break
print(i)

1
2
3

In [133]:
i = 1
while i<6:
  if i==3:
    break
  i+=1
  print(i)

2
3